@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Audio Player Styles */
audio::-webkit-media-controls-panel {
  background-color: #374151; /* gray-700 */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
  background-color: #3b82f6; /* blue-500 */
  border-radius: 9999px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #f3f4f6; /* gray-100 */
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider {
  background-color: #4b5563; /* gray-600 */
  border-radius: 9999px;
  height: 4px;
}

audio::-webkit-media-controls-timeline:hover,
audio::-webkit-media-controls-volume-slider:hover {
  background-color: #6b7280; /* gray-500 */
}

/* Dark color scheme for the audio player */
audio {
  color-scheme: dark;
}

/* Scrollbar Styles */

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #404080 #282938;
}
